body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    /* margin: auto; */
    background: url(OIP.jpeg) no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
}
.k {
    position: absolute;
    top: 0%; 
    left: 1%; 
    border: 3px solid rgb(0, 2, 2);
    border-radius: 2.4vw;
    height: 45px;
    font-size: 2.4vw;
    color: rgb(153, 241, 241);
    text-decoration: underline;
    
}
.o {
    position: absolute;
    top: 6%;
    left: 10px; 
    color: rgb(14 26 240);
    font-size: 2.4vw;
}
#kou{
    position: absolute;
    border: 2px solid rgb(153, 254, 2);
    border-radius: 20px;
    padding: 10px;
    top: 68%;
    left: 1%; 
    color: rgb(0, 62, 66);
    font-size: 2vw;
}
#gf{
    display: none;
}
#gfg{
    display: none;
}

#koum{
    position: absolute;
    border: 2px solid rgb(0,62,66);
    border-radius: 20px;
    padding: 10px;
    top: 68%;
    left: 83%; 
    color: rgb(246, 255, 0);
    font-size: 2vw;
}
.p {
    
    position: absolute;
    top: 6%; 
    right: 0px; 
    color: rgb(5 44 0);
    
    font-size: 2.4vw;
}
.cont{
    margin-left: 1%;
    margin-top: 100%;
    display: grid;
    justify-content: center;
    margin-top: 2%;
    flex-wrap: wrap;
    margin-bottom: 0%;
    grid-template-rows: repeat(10,5.5vw);
    grid-template-columns: repeat(10,6vw);
}
.box{
    font-size: 2vw;
    color: rgb(15, 15, 174);
    border: 2px solid rgb(147, 251, 232);
}
.box:hover{
    background-color: aqua;

}
#col{
    background-color: rgb(76, 240, 76);
}
#ro{
    background-color: rgb(244, 3, 3);
}

#func{
    position: absolute;
    top: 66%;
    left: 1%; 
    border-radius: 80px;
    height: 30px;
    font-size: 1vw;
    cursor: pointer;
    height: 40px;
}

#funct{
    position: absolute;
    top: 66%;
    left: 83%; 
    border-radius: 80px;
    height: 30px;
    font-size: 1vw;
    cursor: pointer;
    height: 40px;
}
.pin{
    /* Set the maximum height and width for the image */
    
    left:90%;
    max-height: 500px;
    max-width: 100px;
    position: absolute;
    bottom: 2%;
    /* animation: jagan 0.3s infinite; */
    /* animation: move 10s linear infinite; */
  }
  
  .jag{
    /* Set the maximum height and width for the image */
    bottom: 10%;
    left:20%;
    max-height: 700px;
    max-width: 800px;
    position: absolute;
    /* animation: jagan 0.3s infinite; */
  }
@keyframes jagan{
    100%{
        transform: rotate(360deg);
        
    }
}
@media only screen and (max-width: 768px) {
    /* CSS rules for mobile devices go here */
    .cont {
        width: 100%; /* Relative width */
        max-width: 1200px; /* Set a maximum width for large screens */
        margin: 0 auto; /* Center the container horizontally */
      }
  }
@keyframes move{
    0%{
        right:0;
    }
    100%{
        left:200px;
    }
}
button{

    border-radius: 80px;
    height: 60px;
    font-size: 1.5vw;
    cursor: pointer;
}
input{
    height: 40px;
    font-size: 1.5vw;
    border-radius: 20px;
}
