body{
    background-color: bisque;
    background: url(download\ \(1\).jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
}
a pre:visited {
    color: rgb(200, 255, 192);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a pre:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    
  }
  li{
    color: aqua;
  }
  div pre{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
.div{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
    height: 590px;
    width:400px;
    margin-top: 40px;
    top:40%;
    display: block;
    margin-left: 80px;
    /* display: flex; */
    justify-content: center;
    margin: auto;
    align-content: center;
    align-items: center;
}
#jag{
  position: absolute;
  top:70%;
  left:80%;
  font-size: 40px;
  color: chartreuse;
  text-shadow: 0px 5px 30px rgb(143 222 0);
  font-family: 'Times New Roman', Times, serif;
}
