body {
  background-image: url('download\ \(1\).jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  max-height: 2000px;
  min-height:100vh;
}

a pre:visited {
    color: rgb(200, 255, 192);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a pre:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    
  }
  li{
    color: aqua;
  }
  div pre{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
.div{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
    height: 590px;
    width:400px;
    margin-top: 40px;
    top:40%;
    display: block;
    margin-left: 80px;
    /* display: flex; */
    justify-content: center;
    margin: auto;
    align-content: center;
    align-items: center;
}
#jag{
  position: absolute;
  top:46vw;
  left:80vw;
  font-size: 40px;
  color: chartreuse;
  text-shadow: 0px 5px 30px rgb(143 222 0);
  font-family: 'Times New Roman', Times, serif;
}
@media only screen and (max-width: 768px) {
  /* CSS rules for mobile devices go here */
  body {
    background-position: center;
    background-size: cover;
  }
  .follow-me {
    display: block;
  }
}
